@font-face {
  font-family: 'Proxima Nova';
  src: url(./static/font/ProximaNova-Regular.eot);
  src: url(./static/font/ProximaNova-Regular.otf);
  src: url(./static/font/ProximaNova-Regular.ttf);
  src: url(./static/font/ProximaNova-Regular.woff);
  src: url(./static/font/ProximaNova-Regular.woff2);
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url(./static/font/ProximaNova-Light.eot);
  src: url(./static/font/ProximaNova-Light.otf);
  src: url(./static/font/ProximaNova-Light.ttf);
  src: url(./static/font/ProximaNova-Light.woff);
  src: url(./static/font/ProximaNova-Light.woff2);
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url(./static/font/ProximaNova-Semibold.eot);
  src: url(./static/font/ProximaNova-Semibold.otf);
  src: url(./static/font/ProximaNova-Semibold.ttf);
  src: url(./static/font/ProximaNova-Semibold.woff);
  src: url(./static/font/ProximaNova-Semibold.woff2);
}

body {
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 1em;
  overflow-x: hidden;
}

.reviews {
  position: relative;
  width: 100%;
  height: 700px;
  background-color: #6527D9;
  display: flex;
  border-radius: 12px;
}

.reviews__visible {
  position: absolute;
  left: -100%;
  width: 300%;
  display: flex;
}

.reviews__visible_left {
  position: absolute;
  left: -200%;
  width: 300%;
  display: flex;
  transition: left 0.5s ease 0s;
}

.reviews__visible_right {
  position: absolute;
  left: 0%;
  width: 300%;
  display: flex;
  transition: left 0.3s ease 0s;
}

.reviews__box {
  width: 100%;
  display: flex;
}

.reviews__left {
  width: 70%;
  height: auto;
  color: #FFFFFF;
}

.reviews__right {
  width: 30%;
  height: auto;
}

.reviews__review {
  font-family: 'Proxima Nova Light', Arial, sans-serif;
  line-height: normal;
  letter-spacing: 0.2px;
  margin-top: 12%;
  margin-left: 9%;
  font-size: 3.8em;
  max-height: 400px;
  overflow: hidden;
  line-height: 130%;
}

.reviews__review_name {
  font-family: 'Proxima Nova Bold', Arial, sans-serif;
  font-weight: bold;
  margin-top: 2em;
  margin-left: 9%;
  font-size: 2.4em;
}

.reviews__review_username {
  font-family: 'Proxima Nova Light', Arial, sans-serif;
  font-weight: lighter;
}

.reviews_ring {
  margin-top: 27%;
  width: 27vW;
  height: 27vw;
  border-radius: 50%;
  background: linear-gradient(41.63deg, #FFFFFF 8.13%, rgba(255, 255, 255, 0) 84.6%);
  opacity: 0.1;
}

.reviews_buttons {
  box-sizing: content-box;
  padding: 0px;
  width: 116px;
  position: absolute;
  bottom: 10%;
  display: flex;
  justify-content: space-around;
}

.reviews__buttons_button {
  display: flex;
  margin: 0px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #7444DA;
  cursor: pointer;
}

.reviews__buttons_button_symb {
  margin: auto;
  width: 20px;
  fill: #CCCCCC;
}

.reviews__buttons_button :hover {
  fill: white;
}

.title {
  font-size: 4.8em;
  text-align: center;
  color: #262626;
  width: 100%;
  margin-top: 80px;
}

.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main_card {
  width: 30%;
  font-size: 2.4em;
  text-align: center;
  text-decoration: none;
  color: #262626;
}

.main_card_img {
  width: 80%;
}

.down {
  color: #6527D9;
  font-size: 2.4em;
  display: flex;
}

.down__text {
  margin-top: 85px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.down__text_symb {
  width: 20px;
  fill: #6527D9;
}

.news__item {
  color: #6527D9;
  margin-left: 10px;
  margin-top: 10px;
}

.news__item_link {
  color: #262626;
  text-decoration: none;
}

@media(min-width: 1200px) {
  .reviews_buttons {
    left: 86%;
  }
}

@media(max-width: 1199px) {
  .reviews_buttons {
    /* position: absolute;   */
    left: 65%;
  }
}

@media(max-width: 949px) {
  .reviews__review {
    font-size: 2.4em;
    margin-top: 7%;
    margin-right: 6%;
    margin-left: 6%;
    /* height: 120%; */
    height: 300px;
    line-height: 105%;
  }
  .reviews__review_name {
    margin-top: 25px;
    margin-right: 6%;
    margin-left: 6%;
    font-size: 1.6em;
  }
  .title {
    font-size: 2.4em;
  }
  .main_card {
    font-size: 1.8em;
  }
  .down {
    font-size: 1.8em;
  }
  .reviews__right {
    display: none;
  }
  .reviews__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-arounds;
  }
  .reviews_buttons {
    left: 5%;
  }
  .main_card {
    width: 100%;
  }
  .reviews {
    height: 520px;
  }
}

@media(max-width: 449px) {
  .reviews_buttons {
    bottom: 5%;
    left: 5%;
  }
  .reviews__review_name {
    display: flex;
    flex-direction: column;
  }
  .reviews__review_name_comma {
    display: none;
  }
}